.wrapper {
    display: grid;
    grid-template-columns: 1fr min-content;
    column-gap: 136px;

    @media (max-width: 1024px) {
        column-gap: 20px;
    }

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 20px;
        align-items: center;
    }
}

.title {
    margin-bottom: 48px;

    @media (max-width: 1400px) {
        margin-bottom: 20px;
    }
}

.textList {
    margin: 0;
    padding: 0;
    list-style-type: none;

    /* -------- */
    max-height: 100%;
    height: auto;
    overflow: visible;
    transition: all ease 0.5s;

    /* li:not(:last-child) p { */
    li p {
        margin-bottom: 40px;
    }
    li:last-child p {
        margin-bottom: 0;
    }
}

.isCutText {
    /* ----------- */
    max-height: 704px;
    height: 100%;
    white-space: wrap;

    /* ---------- */
    /* -webkit-line-clamp: 12; */

    overflow: hidden;    
    display: -webkit-box;
    text-overflow: ellipsis;    
    -webkit-box-orient: vertical;
}

.buttonMore {
    margin-top: 28px;
    padding: 0;
    background: transparent;
    border: none;
    text-decoration: underline;

    @media (max-width: 1400px) {
        margin-top: 20px;
    }
}
