.profileMenu {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 28px;

  @media (max-width: 1400px) {
    gap: 10px;
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }

  button {
    padding: 10px 15px;

    @media (max-width: 1024px) {
      width: 100%;
    }
  }
}

.profileTabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 174px);
  gap: 28px;

  @media (max-width: 1400px) {
    gap: 10px;
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(174px, 1fr));
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

button.logoutButton {
  margin-bottom: 16px;
  padding: 0;
  width: min-content;

  @media (max-width: 1024px) {
    margin-bottom: 10px;
    order: -1;
  }
}
