.mb48 {
  margin-bottom: 48px;
  padding: 0;

  @media (max-width: 1024px) {
    margin-bottom: 40px;
  }

  @media (max-width: 768px) {
    margin-bottom: 28px;
  }

  @media (max-width: 360px) {
    margin-bottom: 20px;
  }
}

.mb48 .col {
  padding: 0;
}

.textViewContainer {
  margin-bottom: 20px;
}

.personalInfoContainer {
  display: flex;
  align-items: center;
  gap: 17px;
}

.editButton {
  margin-top: 9px;
  padding: 3px;
  background: none;
  border: none;
  transition: opacity 0.2s;

  @media (max-width: 1400px) {
    margin-top: 3px;
  }

  svg {
    width: 20px;
    height: 20px;

    @media (max-width: 768px) {
      width: 12px;
      height: 12px;
    }
  }
}

.sectionTitle {
  margin: 0;
  font-family: "Gotham";
  font-size: 52px;
  color: #1a1f1f;

  @media (max-width: 1024px) {
    font-size: 40px;
  }

  @media (max-width: 768px) {
    font-size: 36px;
  }

  @media (max-width: 360px) {
    font-size: 24px;
  }
}

/* @media screen and (max-width: 768px) {

  .editButton{
    height: 18px;
    width: 18px;
    margin-top: 14px;
  }
} */
