.button {
    display: block;
    max-width: fit-content;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    font-family: "Open Sans Semibold", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}

/* Обычные кнопки */
.defaultButton {
    display: block;
    max-width: fit-content;
}

/* Размеры кнопок */
.buttonSmall {
    padding: 10px 20px;

    @media (max-width: 768px) {
        padding: 6px 20px;
    }
}

.buttonLarge {
    padding: 16px 40px;
}

/* Цвета */
.buttonWhite {
    /* background: linear-gradient(90deg, #FFFCCD 57.27%, #FFC851 159.17%); */
    background: linear-gradient(90deg, #ffffff 50%, #FFFCCD 57.27%, #FFC851 159.17% );
    background-size: 235% 100%;
    background-position: 0 0;
    transition: background-position .5s;
    color: #1a1f1f;

    &:hover {
        background-position: 100% 0;
    }

    &:disabled {
        background: #9d9d9d;
        color: #ffffff;
    }

    &.disabled {
        pointer-events: none;
        background: #9d9d9d;
        color: #ffffff;
    }
}


.buttonBlue {
    background: linear-gradient(90deg, #BE1B86, #2B306C, #2B306C);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .5s;
    color: #ffffff;

    &:hover {
        background-position: 0 0;
    }

    &:disabled {
        background: #9d9d9d;
    }

    &.disabled {
        pointer-events: none;
        background: #9d9d9d;
    }
}

/* Общие стили для меню-кнопок */
.menuButton {
    padding: 8px 20px;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #6c3f99;
    outline: none;
    border-radius: 8px;
    transition: background-color 0.2s ease;
    color: #333;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    white-space: nowrap;
}

/* Индивидуальные размеры */
.bigMenuButton {
    width: 447px;
    height: 38px;
}

.menuBtn {
    width: 174px;
    height: 38px;
}

/* Ховер эффект */
.menuButton:hover {
    background-color: #d9d9d9;
}

/* Активное состояние */
.menuButton.active {
    background-color: #6c3f99 !important;
    color: #fff !important;
}
