.header {
    padding: 19px 0;
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
    background: linear-gradient(90deg, #BE1B86 0%, #2B306C 100%);
    /* -webkit-backface-visibility: hidden; */

    @media (max-width: 1024px) {
        padding: 14px 0;
        min-height: 70px;
    }

    @media (max-width: 768px) {
        padding: 5px 0;
        min-height: 60px;
    }
}

.wrapper {
    align-items: center;
    display: grid;
    grid-template-columns: 160px 1fr 91px;
    column-gap: 20px;

    &.isLogIn {
        @media (min-width: 1025px) {
            grid-template-columns: 160px 1fr 150px;
        }
    }

    @media (max-width: 1024px) {
        grid-template-columns: 160px 1fr 50px;
        gap: 48px;
    }

    @media (max-width: 768px) {
        grid-template-columns: 95px 1fr min-content;
        gap: 8px;
    }
}

.navBlock {
    @media (max-width: 1024px) {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 40px 20px;
        max-width: 550px;
        width: 100%;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 8px;
        z-index: 102;

        @media (max-width: 768px) {
            max-width: 450px;
        }

        @media (max-width: 360px) {
            max-width: 320px;
        }

        a {
            color: #1a1f1f;
        }
    }
}

.navBlockOpen {
    display: block;

    .logoNavMenu {
        width: 95px;
        height: 24px;
    }
}

.logo {
    @media (max-width: 768px) {
        width: 95px;
        height: 24px;
    }
}

.logoNavMenu {
    display: none;
    margin-bottom: 26px;

    @media (max-width: 1024px) {
        display: block;
    }
}

.navLinkList {
    margin: 0;
    max-width: 588px;
    width: 100%;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 1024px) {
        margin: 0;
        flex-direction: column;
        gap: 12px;
    }
}

.buttonLogIn {
    @media (max-width: 1024px) {
        margin-left: auto;
    }
}

.buttonMenu {
    padding: 0;
    display: none;
    width: 50px;
    height: 24px;
    border: none;
    background-color: transparent;

    @media (max-width: 1024px) {
        display: flex;
    }

    @media (max-width: 768px) {
        margin-left: 34px;
    }

    &.isLogIn {
        @media (max-width: 360px) {
            margin-left: 18px;
        }
    }
}

.buttonMenuOpen {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 102;
}

.overlay {
    display: none;

    @media (max-width: 1024px) {
        display: block;
    }
}