.wrapper {
  padding-bottom: 160px;
}

.title {
  margin-bottom: 48px;
  color: #1a1f1f;
}

.commentBlock {
  padding: 40px 120px 40px 40px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 12px;
  background-color: #f6edff;
  border-radius: 8px;
}

.buttonSend {
  margin-top: 16px;
  margin-bottom: 40px;
}

.commentsList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.nameText {
  margin-bottom: 10px;
  color: #1a1f1f;
}

.commentText {
  margin-bottom: 12px;
}

.texareaComment {
  height: 123px;
}

.documentsList {
  list-style-type: none;
  padding: 0;
}

.documentsItem {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 4px;
}

.documentsLink {
  text-decoration: none;
}

.buttonDownload {
  margin-top: 40px;
}

.buttonStart {
  margin-top: 48px;
}