.blockWrapper {
    padding: 40px;
    min-height: 386px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: right / auto 100% no-repeat url("./images/pattern.png"), #fffddc;

    @media (max-width: 1024px) {
        min-height: 374px;
        background-position: 120%;
    }

    @media (max-width: 768px) {
        min-height: 365px;
        background-position: right 150%;
        /* background-size: 50% auto; */
    }

    @media (max-width: 360px) {
        padding: 20px;
        min-height: 346px;
    }

    h3 span {
        display: block;
        margin-top: 12px;
        
        @media (max-width: 768px) {
            margin-top: 4px;
        }
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}

.contactsList {
    padding: 0;
    max-width: 900px;
    display: flex;
    gap: 60px;
    justify-content: space-between;
    list-style-type: none;

    @media (max-width: 1024px) {
        max-width: 778px;
        gap: 8px;
    }

    @media (max-width: 850px) {/*768*/
        flex-direction: column;
    }

    span {
        color: #1a1f1f;
    }
}

.contactsVK {
    margin: auto 0 0;
    display: flex;
    gap: 12px;
    align-items: center;

    svg {
        @media (max-width: 1024px) {
            width: 32px;
            height: 32px;
        }
    }
}
