.container {
  position: relative;
  width: 447px;
  margin-bottom: 20px;
}

.loginInput {
  width: 447px !important;
  height: 40px;
  border: 2px solid #b899d6 !important;
  outline: none;
  border-radius: 6px;
  padding: 12px 36px 12px 16px;
}

.loginInput:focus {
  border-color: #6C3F99 !important;
}

.delete {
  position: absolute;
  border: none;
  background: rgba(255, 255, 255, 0);
  top: 32px;
  right: 6px;
}