.cardsContainer,
.profileMenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(2, 1fr);
  };

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  };
}

.profileMenu {
  margin-bottom: 20px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @media (max-width: 360px) {
    grid-template-columns: 1fr;
  }

  & button {
    font-family: "Open Sans Semibold", sans-serif;
    font-weight: 600;
    line-height: 22px;
    padding: 8px 18px; 
    width: 100%;
  }
}

.createButton{
  margin-top: 48px;

  @media (max-width: 1400px) {
    margin-top: 40px;;
  }

  @media (max-width: 768px) {
    margin-top: 28px;;
  }
}
