.profileTabTitle {
  font-weight: 500;
  font-size: 52px;
  margin-top: 8vh;
  margin-bottom: 5vh;
}

.cardsContainer {
  display: grid;
  gap: 30px;
  margin-top: 30px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.teamCard {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 447px; 
  height: 240px;
}


@media (max-width: 768px) {
  .teamCard {
    width: 320px; 
    height: auto; 
    margin: 0 auto; 
  }
}


@media (max-width: 720px) {
  .teamCard {
    width: auto; 
    height: auto; 
    max-width: 320px; 
    margin: 0 auto; 
  }
}




.profileMenu {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  margin-bottom: 20px;
}

.secondMenuButton {
  padding: 8px 20px; 
}

.createButton {
  margin-top: 56px;
}


.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.buttonContainer {
   margin-top:24px;
   display:flex;
   justify-content:center;
   gap:20px;

}

.confirmButton {
   background-color:#2B306C;
   color:#ffffff;

}

.cancelButton {
   color:#ffffff;
   background-color:#6C3F99;
}

@media (max-width:768px) {
   .teamCard {
     width: 320px;
     height: auto; 
     margin: 0 auto; 
   }

}
