
.logoutButton {
    margin-left: auto;
    background-color: rgba(255, 85, 85, 0);
    color: #333;
    font-weight: 400;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    white-space: nowrap;
  }
  
  .logoutButton:hover {
    background-color: rgba(255, 85, 85, 0.1);
  }
  
  .logoutIcon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  