p {
  margin: 0;
  margin-top: 0;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.buttonContainer {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.profileTabTitle {
  font-weight: 500;
  font-size: 52px;
  margin-top: 8vh;
  margin-bottom: 5vh;
}

.participantsListContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 8vh;
  padding: 0;
}

.inputFieldSmall {
  border: 1px solid #6600cc;
  border-radius: 6px;
  padding: 12px 16px;
  padding-right: 40px;
  width: 100%;
  max-width: 447px;
  height: 43px;
  font-size: 16px;
  box-sizing: border-box;
}

.rightZone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.participantItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #cbc3e3;
  border-radius: 6px;
  padding: 12px 16px;
}

.participantInfo {
  width: 100%;
}

.rightZone {
  margin-right: 80px;
}

@media (max-width: 600px) {
  .participantItem {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  .rightZone {
    display: block;
  }
}

@media (max-width: 480px) {
  .participantInfo {
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 20px;
  }
  .participantName {
    word-break: break-word;
    max-width: 160px;
  }

  .participantRole {
    color: #666;
    margin-right: auto; /* Убираем правый отступ */
  }
}

@media (max-width: 360px) {
  .profileTabTitle {
    font-size: 28px; /* Уменьшение размера заголовка */
    margin-top: 5vh; /* Уменьшение верхнего отступа */
    margin-bottom: 3vh; /* Уменьшение нижнего отступа */
  }

  .inputFieldSmall {
    max-width: calc(100% - 20px); /* Уменьшаем максимальную ширину поля ввода */
    font-size: 14px; /* Уменьшение размера шрифта в поле ввода */
  }

  .participantItem {
    padding: 10px; /* Уменьшение внутреннего отступа для карточек участников */
    height: auto; /* Автоматическая высота для карточек участников */
  }

  .participantName,
  .participantRole {
    font-size: 14px; /* Уменьшение размера шрифта для участника */
  }

  .modalOverlay {
    width: 100vw;
    height: auto;
    padding-left: auto;
    padding-right: auto;
  }

  .buttonContainer {
    flex-direction: column; /* Вертикальное расположение кнопок в модальном окне на маленьких устройствах */
    gap: 10px; /* Увеличение отступа между кнопками */
  }

  .confirmButton,
  .cancelButton {
    width: auto; /* Автоматическая ширина для кнопок в модальном окне */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
  }
}
