.pagination {
  margin: 48px auto 0;
  width: min-content;
  display: flex;

  @media (max-width: 1400px) {
    margin-top: 40px;;
  }

  @media (max-width: 768px) {
    margin-top: 28px;;
  }
}

.pageButton {
  padding: 0;
  width: 22px;
  height: 26px;
  border: none;
  background: none;
  border-radius: 2px;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(108, 63, 153, 0.2);
  }
}

.active,
.pageButton:hover.active {
  background-color: #6c3f99;
  color: #ffffff;
}

.ellipsis {
  width: 25px;
  height: 26px;
}
  