.pagination {
    display: flex;
    gap: 5px;
    margin-top: 20px;
    justify-content: center;
  }

  .pageButton {
    border: none;
    background: #eeeeee00;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
  }
  .pageButton:hover {
    background: #ccc;
  }
  .ellipsis {
    padding: 5px 10px;
  }
  .active {
    background-color: #6c3f99 !important;
    color: #fff !important;
  }  