.userInfoBlock {
  display: flex;
  align-items: center;
  height: 390px;
  background: transparent;
  color: #fff;
  margin-top: 80px; 
  padding: 20px;
}

.userInfoHeader {
  display: flex;
  align-items: stretch;
  gap: 20px;
  height: 180px;
  width: 100%;
}

.profilePhotoPlaceholder {
  border-radius: 8px;
  height: 100%;
  width: auto;
  max-width: 203px;
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;
}


.userName {
  font-weight: 500;
  font-size: 52px;
  margin: 0;
}


.userNameResponsive {
  display: none;
}

.userBirthDate {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.userDetails {
  margin: 0;
  font-size: 16px;
}

.contact {
  display: flex;

  gap: 20px;
}

.contactItem {
  display: flex;
  align-items: center;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}




@media (max-width: 916px) {
  .userInfoBlock {
    max-height: 300px;
    padding: 15px;
  }
  .userName {
    font-size: 42px;
  }
  .userBirthDate,
  .userDetails {
    font-size: 14px;
  }
  .contact {
    gap: 10px;
    font-size: 14px;
  }
}


@media (max-width: 610px) {
 
.textContent{
  gap: 8px;
}

  .userInfoBlock {
    flex-direction: column;
    max-height: 417px;
    margin-top: 80px;
  }
  .contact{
    margin-top: 8px;
    flex-direction: column;
    gap: 8px;
    justify-content: left;
    font-size: 16px;
  }

  .userBirthDate,
  .userDetails {
    font-size: 16px;
  }
  
  .userName {
    display: none;
  }
  
  .userNameResponsive {
    display: flex;
    justify-content: left;
    font-size: 28px;
    font-weight: 500;
    margin: 0;
  }
  
  .userInfoHeader {
    flex-direction: column;
    justify-content: center;
    height: auto;
    gap: 10px;
  }
  
  .profilePhotoPlaceholder {
    width: 152px;
    height: 132px;
  }
  
  .icon {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 360px) {
  .userBirthDate,
  .userDetails {
    font-size: 14px;
  }

  .contact{
    font-size: 14px;
  }
}