.main {
  background: linear-gradient(90deg, #be1b86, #2b306c);
  position: relative;
  overflow: hidden;

}

.bigLogo {
  margin-top: 80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-left: 40%;
  z-index: 0;
  opacity: 0.3;
}


.content {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
