.profileTabTitle {
  font-weight: 500;
  font-size: 52px;
  margin-top: 8vh;
  margin-bottom: 5vh;
}

.userHeader {
  position: inherit;
}

.profileWrapper {
  background-color: #fff;
}

.mt80 {
  margin-top: 80px;
}

.mb160 {
  margin-bottom: 160px;
}