.violetButton {
  background: linear-gradient(90deg, #be1b86, #6c3f99, #6C3F99);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
  color: #ffffff;

  &:hover {
    background-position: 0 0;
  }
}

.buttonContainer {
  margin-top: 48px;
  display: flex;
  justify-content: start;
  gap: 20px;
}
