.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 34px;
    align-items: center;
}

.valueBlock {
    position: relative;
    width: 221px;
    height: 221px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    background-color: #f6edff;
    font-family: "Open Sans Regular", sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    color: #1a1f1f;

    @media (max-width: 1024px) {
        width: 200px;
        height: 200px;
    }
}

.isStepPage {
    background-color: #fffddc;

    span {
        max-width: 150px;
    }

    &.valueBlock {
        width: 196px;
        height: 196px;
    }
}

.rating {
    color: #be1b86;
    font-size: 46px;
    line-height: 64px;
}

.value {
    position: relative;
}

.inputValue {
    max-width: 80px;
    height: 64px;
    padding: 0;
    font-weight: 600;
    font-size: 46px;
    line-height: 64px;
    text-align: center;
    color: #be1b86;
    border: 1px solid #1a1f1f;
    background-color: transparent;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    &:invalid {
        color: red;
        border: 1px solid red;
    }
}

.buttonEdit {
    position: absolute;
    bottom: 0;
    left: 100%;
    background-color: transparent;
    border: none;
}

.errorBlock {
    position: absolute;
    top: 98%;
    color: red;
}

.timerBlock {
    position: relative;
    display: flex;
    align-items: center;
    font-family: "Open Sans Regular", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #1a1f1f;
}

.time {
    position: relative;
    width: 93px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f6edff;
    border-radius: 4px;
    border: none;
    user-select: none;

    .buttonEdit {
        left: 75%;
    }

    span:first-child,
    input {
        margin-bottom: -15px;
        font-family: "Gotham";
        font-weight: 500;
        font-size: 32px;
    }

    input {
        height: auto;
        -moz-appearance: textfield;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    &:invalid {
        color: red;
        border: 1px solid red;
    }
}

.unitBlock {
    position: relative;
}

.divider {
    width: 22px;
    font-size: 35px;
    color: #2b306c;
    text-align: center;
}

