.main {
  min-height: calc(100vh - 80px - 20px - 1px);
  background: linear-gradient(90deg, #be1b86, #2b306c);
  position: relative;
  overflow: hidden !important;
  margin-top: 82px;
}

.bigLogo {
  position: absolute;
  left: 40%;
  /* margin-top: 10%; */
  bottom: 0;
  overflow: hidden;
  z-index: 0;
}
