.main {
  min-height: calc(100vh - 80px - 1px);
  background: linear-gradient(90deg, #be1b86, #2b306c);
  position: relative;
  overflow: hidden !important;
  margin-top: 80px;

  @media (max-width: 1024px) {
    margin-top: 69px;/*по макету 70 - появляется белая линия*/
  }

  @media (max-width: 768px) {
    margin-top: 59px;/*по макету 60 - появляется белая линия*/
  }
}

.bigLogo {
  position: absolute;
  left: 40%;
  /* margin-top: 10%; */
  bottom: 0;
  overflow: hidden;
  z-index: 0;
}
