.wrapper {
    margin-top: auto;
    padding: 40px 0;
    color: #ffffff;
    background-color: #2b306c;

    p {
        color: #efefef;
    }
}

.block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 15px;
}

.contacts {
    display: flex;
    flex-direction: column;

    a {
        margin-top: 8px;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #ffffff;
        text-decoration: none;
    }
}

.navLinkList {
    margin: 0;
    column-count: 2;
    column-gap: 50px;
    grid-column: span 2;
}

.politics {
    display: flex;
    flex-direction: column;
    a {
        color: #efefef;
        text-decoration: none;
    }
}

.logo1T {
    display: flex;
    align-items: center;

    p {
        margin: 0 8px 0 0;
    }

    a {
        display: flex;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;

        img {
            margin-right: 24px;
        }

        &::before {
            position: absolute;
            content: "";
            width: 1px;
            height: 16px;
            background-color: #ffffff;
            top: 4px;
            left: 119px;
        }
    }
}