/* .profileTabTitle{

} */

.userRegDataChange {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  color: #1a1f1f;
}

.formRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.formGroup {
  /* display: flex;
  flex-direction: column; */

  label {
    margin-bottom: 4px;
  }
}

.passwordHint {
  font-size: 0.85rem;
  color: #666;
  margin-top: 5px;
}
  

.profilePhotoSection {
  
}

.btnSave {
  margin-top: 48px;

  /* адаптив */
}
  
/* .profilePhotoPreview {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 10px;
} */
