.wrapper {
    padding: 273px 0 160px;
    color: #ffffff;
}

.promoTitle {
    margin: 0 0 40px;
}

.promoList {
    margin: 0 0 60px;
    padding-left: 20px;
    list-style-type: none;

    li {
        position: relative;

        &::before {
            position: absolute;
            content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none"><path d="M4.11402 0.922254C4.32731 -0.0219724 5.67269 -0.0219727 5.88598 0.922254C6.02421 1.53421 6.72646 1.82509 7.25692 1.49012C8.07541 0.973265 9.02674 1.92459 8.50988 2.74308C8.17491 3.27354 8.46579 3.97579 9.07775 4.11402C10.022 4.32731 10.022 5.67269 9.07775 5.88598C8.46579 6.02421 8.17491 6.72646 8.50988 7.25692C9.02674 8.07541 8.07541 9.02674 7.25692 8.50988C6.72646 8.17491 6.02421 8.46579 5.88598 9.07775C5.67269 10.022 4.32731 10.022 4.11402 9.07775C3.97579 8.46579 3.27354 8.17491 2.74308 8.50988C1.92459 9.02674 0.973265 8.07541 1.49012 7.25692C1.82509 6.72646 1.53421 6.02421 0.922254 5.88598C-0.0219724 5.67269 -0.0219727 4.32731 0.922254 4.11402C1.53421 3.97579 1.82509 3.27354 1.49012 2.74308C0.973265 1.92459 1.92459 0.973265 2.74308 1.49012C3.27354 1.82509 3.97579 1.53421 4.11402 0.922254Z" fill="white"/><script xmlns=""/></svg>');
            /* content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none"><path d="M3.6694 0.677113C3.86935 -0.2081 5.13065 -0.2081 5.3306 0.677113C5.4602 1.25082 6.11856 1.52352 6.61586 1.20949C7.38319 0.724936 8.27506 1.61681 7.79051 2.38414C7.47648 2.88144 7.74918 3.5398 8.32289 3.6694C9.2081 3.86935 9.2081 5.13065 8.32289 5.3306C7.74918 5.4602 7.47648 6.11856 7.79051 6.61586C8.27506 7.38319 7.38319 8.27506 6.61586 7.79051C6.11856 7.47648 5.4602 7.74918 5.3306 8.32289C5.13065 9.2081 3.86935 9.2081 3.6694 8.32289C3.5398 7.74918 2.88144 7.47648 2.38414 7.79051C1.61681 8.27506 0.724936 7.38319 1.20949 6.61586C1.52352 6.11856 1.25082 5.4602 0.677113 5.3306C-0.2081 5.13065 -0.2081 3.86935 0.677113 3.6694C1.25082 3.5398 1.52352 2.88144 1.20949 2.38414C0.724936 1.61681 1.61681 0.724936 2.38414 1.20949C2.88144 1.52352 3.5398 1.25082 3.6694 0.677113Z" fill="#6C3F99"/><script xmlns=""/></svg>'); */
            top: 0;
            left: -20px;
        }
    }
}