.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px - 1px);
  /* padding: 20px; */
}

.modal {
  position: relative;
  width: 680px;
  min-height: 248px;
  background: white;
  border-radius: 24px;
  padding: 60px;
  z-index: 99;
  text-align: center;
}

.closeIcon {
  position: absolute;
  right: 20px;
  top: 20px;
}

.title {
  font-size: 32px;
  font-weight: 500;
  /* padding: 0 60px 32px 60px;
   */
  /* padding-top: 60px; */
  padding-bottom: 20px;
}

.description {
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  .main {
    width: 100%;
    min-height: min-content;
  }
  .modal {
    width: 100%;
    padding: 40px;
  }
}
