body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (min-width: 1400px) {
  .container-xxl {
    max-width: 1400px !important;
  }
}
