body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentBox {
  padding: 80px 0;
}

.titleH2 {
  margin-bottom: 48px;
  font-size: 52px;
  color: #1a1f1f;
}

.text1 {
  line-height: 22px;
  color: #1a1f1f;
}

.text2 {
  font-weight: 600;
  line-height: 22px;
  color: #2b306c;
}

.text3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #2b306c;
}
