.cards {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    list-style-type: none;

    @media (max-width: 1400px) {/*1024*/
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    @media (max-width: 768px) {/*360*/
        grid-template-columns: 1fr;
    }
    
    ul {
        list-style-type: none;
    }
}

.blockWrapper {
    padding: 28px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: right no-repeat url("./images/pattern-violet.png"), #f6edff;

    @media (max-width: 1400px) {/*1024*/
        padding: 20px;
    }

    li {
        position: relative;
    
        &::before {
            position: absolute;
            content: url('../../../assests/images/icon/icon-bullet-violet.svg');
            top: 0;
            left: -20px;
        }
    }

    p {
        margin-bottom: 16px;
    }

    p:last-child {
        margin: auto 0 0;

        @media (max-width: 1400px) {/*1024*/
            margin-top: 80px;
        }

        @media (max-width: 1024px) {/*768*/
            margin-top: 34px;
        }

        @media (max-width: 768px) {/*360*/
            margin-top: 7px;
        }
    }

    &:first-child .cardList {
        margin-bottom: 7px;

        @media (max-width: 1400px) {
            margin-bottom: 0;
        }
    }
}

.cardList {
    padding-left: 21px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cardStages {
    background: right / 50% 100% no-repeat url("./images/pattern.png"), #fffddc;
    grid-column: span 2;

    @media (max-width: 1400px) {/*1024*/
        grid-column: span 1;
    }
}

.imageWrapper {
    grid-column: span 2;
    position: relative;
    border-radius: 8px;
    overflow: hidden;

    @media (max-width: 1400px) {/*1024*/
        grid-column: span 1;
    }

    @media (max-width: 768px) {/*360*/
        display: none;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.text {
    color: #ffffff;
    position: absolute;
    left: 28px;
    bottom: 28px;

    @media (max-width: 1400px) {/*1024*/
        left: 20px;
        bottom:20px;
    }
}

.textColor {
    color: #1a1f1f;
}