.searchUserForm {
  position: relative;
  width: 100%;
}

.searchUserForm input {
  border: 1px solid #6c3f99;
  border-radius: 6px;
  padding: 9.5px 16px;
  width: 100%;
  height: 46px;
  box-sizing: border-box;
}

.searchIconRight {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.searchIconImg {
  width: 20px;
  height: 20px;
}