.userInfoBlock {
  padding: 120px 0 90px;
  background: transparent;
  color: #ffffff;
  margin-top: 80px;

  @media (max-width: 1400px) {
    padding: 80px 0 60px;
  }

  @media (max-width: 1024px) {
    margin-top: 70px;
    padding: 60px 0 60px;
  }

  @media (max-width: 768px) {
    margin-top: 60px;
    padding: 40px 0 40px;
  }
}

.userInfoHeader {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 36px;

  @media (max-width: 1024px) {
    column-gap: 23px;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.profilePhotoBlock {
  width: 203px;
  height: 180px;
  border-radius: 8px;
  overflow: hidden;
  grid-row: 1 / 4;

  @media (max-width: 768px) {
    width: 150px;
    height: 132px;
    grid-row: 2 / 3;
  }
}

.profilePhotoPlaceholder {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.titleBlock {
  margin-top: -10px;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) min-content;
  column-gap: 20px;

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
}

.userName {
  
  margin-bottom: 0;
  color: #ffffff;

  
}

.userBirthDate {
  /* margin: -10px 0 0; */
  color: #ffffff;

  @media (max-width: 768px) {
    margin: 0;
  }
}

.bottomText {
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;

  @media (max-width: 1024px) {
    row-gap: 10px;
  }

  @media (max-width: 768px) {
    row-gap: 8px;
  }
}

.userDetails {
  margin: 0;
  color: #ffffff;
}

.contact {
  display: flex;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 4px;
  }
}

.contactItem {
  display: flex;
  align-items: center;

  p {
    margin: 0;
  }
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.editButton {
  padding: 3px;
  background: none;
  border: none;
  transition: opacity 0.2s;
}
